<div class="pokemon-card">
    <div class="pokemon-card__image">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="Bulbassauro">
    </div>

    <div class="pokemon-card__number">
        Nº001
    </div>

    <div class="pokemon-card__name">
        Bulbassaur
    </div>

    <div class="pokemon-card__types">
        <div class="pokemon-card__types pokemon-card__types--grass">Grass</div>
        <div class="pokemon-card__types pokemon-card__types--poison">Poison</div>
    </div>
</div>